./fingerprinting/.venv

# ignore all fingerprint files
fp-*

# ignore all virtual environments and caches
.venv
__pycache__

# ignore the updated contents of the app data to prohibit leakage of api keys, etc
app_data.config
preliminary_app_data.config

# ignore other changes to configs
config/*

# ignore logfiles
logfile*.txt
