
#	might need to be adjusted
location_of_application_on_client="$HOME/BSH-client"

openSenseMap_folder="$location_of_application_on_client/openSenseMap_functionality"

tick_backdoor_folder="$location_of_application_on_client/thetick"

benign_behaviors_folder="$location_of_application_on_client/additional_benign_behavior"
