
#	might need to be adjusted
location_of_application_on_client="$HOME/BSH-client"

fingerprinting_folder="$location_of_application_on_client/fingerprinting"

openSenseMap_folder="$location_of_application_on_client/openSenseMapFunctionality"

tick_backdoor_folder="$location_of_application_on_client/thetick"
