
# change to ip address of C&C server
ip_of_server=$your_ip_address

#	these are default ports, if changed on the server side they must be changed here as well
port_of_remote_shell=5555
port_of_api=5000


#### OpenSenseMap data ####
# data must be updated by the user to match specific sensor

#	id of sensor device assigned by the openSenseMap
sensor_box_id="your_sensor_id"

#	individual IDs of sensors
humidity_sensor_id="your_sensor_id"
temperature_sensor_id="your_sensor_id"
air_pressure_sensor_id="your_sensor_id"
gas_resistance_sensor_id="your_sensor_id"
